USE [master]
GO
/****** Object:  Database [HospitalAppoimentDB]    Script Date: 6/17/2020 12:31:57 AM ******/
CREATE DATABASE [HospitalAppoimentDB]
GO
USE [HospitalAppoimentDB]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 6/17/2020 12:31:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Appoinments]    Script Date: 6/17/2020 12:31:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Appoinments](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](16) NULL,
	[Patient] [int] NOT NULL,
	[Doctor] [int] NOT NULL,
	[Date] [datetime] NOT NULL,
	[Time] [nvarchar](20) NULL,
	[Status] [int] NOT NULL,
	[IsPayment] [bit] NOT NULL,
	[Price] [float] NOT NULL,
	[Reduce] [float] NOT NULL,
	[Amount] [float] NOT NULL,
 CONSTRAINT [PK_dbo.Appoinments] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AssignPositions]    Script Date: 6/17/2020 12:31:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AssignPositions](
	[StaffID] [int] NOT NULL,
	[PositionID] [int] NOT NULL,
	[DepartmentID] [int] NOT NULL,
	[Desc] [nvarchar](max) NULL,
	[CreateDate] [datetime] NULL,
	[CreateBy] [nvarchar](max) NULL,
	[ModifyDate] [datetime] NULL,
	[ModifyBy] [nvarchar](max) NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.AssignPositions] PRIMARY KEY CLUSTERED 
(
	[StaffID] ASC,
	[PositionID] ASC,
	[DepartmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Departments]    Script Date: 6/17/2020 12:31:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departments](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](250) NULL,
	[Desc] [nvarchar](550) NULL,
	[Phone] [nvarchar](50) NULL,
	[Mail] [nvarchar](150) NULL,
	[IsMedicalExam] [bit] NOT NULL,
	[CreateDate] [datetime] NULL,
	[CreateBy] [nvarchar](max) NULL,
	[ModifyDate] [datetime] NULL,
	[ModifyBy] [nvarchar](max) NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Departments] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Doctors]    Script Date: 6/17/2020 12:31:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Doctors](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](250) NULL,
	[Avatar] [nvarchar](500) NULL,
	[BirthDay] [nvarchar](250) NULL,
	[Address] [nvarchar](850) NULL,
	[Phone] [nvarchar](250) NULL,
	[Email] [nvarchar](250) NULL,
	[Department] [int] NOT NULL,
	[DateCreate] [datetime] NOT NULL,
	[Price] [float] NOT NULL,
 CONSTRAINT [PK_dbo.Doctors] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DoctorSchedules]    Script Date: 6/17/2020 12:31:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DoctorSchedules](
	[ID] [int] NOT NULL,
	[Day] [int] NOT NULL,
	[Shift] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.DoctorSchedules] PRIMARY KEY CLUSTERED 
(
	[ID] ASC,
	[Day] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Feedbacks]    Script Date: 6/17/2020 12:31:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feedbacks](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Comment] [nvarchar](550) NULL,
	[Member] [int] NOT NULL,
	[Rate] [int] NOT NULL,
	[Date] [datetime] NOT NULL,
	[Type] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Feedbacks] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[News]    Script Date: 6/17/2020 12:31:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[News](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](250) NULL,
	[Avatar] [nvarchar](max) NULL,
	[Desc] [nvarchar](350) NULL,
	[Content] [nvarchar](max) NULL,
	[ViewNumber] [int] NOT NULL,
	[MetaTitle] [nvarchar](60) NULL,
	[MetaDesc] [nvarchar](160) NULL,
	[MetaKeyword] [nvarchar](260) NULL,
	[CreateDate] [datetime] NULL,
	[CreateBy] [nvarchar](max) NULL,
	[ModifyDate] [datetime] NULL,
	[ModifyBy] [nvarchar](max) NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.News] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Patients]    Script Date: 6/17/2020 12:31:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patients](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](250) NULL,
	[BirthDay] [nvarchar](250) NULL,
	[Address] [nvarchar](850) NULL,
	[Phone] [nvarchar](250) NULL,
	[Email] [nvarchar](250) NULL,
	[Account] [nvarchar](50) NULL,
	[Password] [nvarchar](50) NULL,
	[DateCreate] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.Patients] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Positions]    Script Date: 6/17/2020 12:31:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Positions](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](250) NULL,
	[Desc] [nvarchar](550) NULL,
	[CreateDate] [datetime] NULL,
	[CreateBy] [nvarchar](max) NULL,
	[ModifyDate] [datetime] NULL,
	[ModifyBy] [nvarchar](max) NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Positions] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Promotions]    Script Date: 6/17/2020 12:31:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Promotions](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](12) NULL,
	[Title] [nvarchar](250) NULL,
	[Avatar] [nvarchar](max) NULL,
	[Desc] [nvarchar](350) NULL,
	[Content] [nvarchar](max) NULL,
	[StartDate] [datetime] NOT NULL,
	[EndDate] [datetime] NOT NULL,
	[DoctorApply] [nvarchar](max) NULL,
	[AmountReduced] [int] NOT NULL,
	[PercentReduced] [float] NOT NULL,
	[Type] [int] NOT NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Promotions] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ShiftTimes]    Script Date: 6/17/2020 12:31:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShiftTimes](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[StartTime] [nvarchar](50) NULL,
	[EndTime] [nvarchar](50) NULL,
	[Name] [nvarchar](50) NULL,
 CONSTRAINT [PK_dbo.ShiftTimes] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Staffs]    Script Date: 6/17/2020 12:31:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Staffs](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](150) NULL,
	[Address] [nvarchar](350) NULL,
	[BirthDay] [datetime] NULL,
	[Phone] [nvarchar](50) NULL,
	[Gender] [int] NOT NULL,
	[Mail] [nvarchar](150) NULL,
	[Account] [nvarchar](50) NULL,
	[Password] [nvarchar](50) NULL,
	[CreateDate] [datetime] NULL,
	[CreateBy] [nvarchar](max) NULL,
	[ModifyDate] [datetime] NULL,
	[ModifyBy] [nvarchar](max) NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Staffs] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Appoinments] ON 

INSERT [dbo].[Appoinments] ([ID], [Code], [Patient], [Doctor], [Date], [Time], [Status], [IsPayment], [Price], [Reduce], [Amount]) VALUES (2, N'160620b6b5rub', 18, 3, CAST(N'2020-06-17 00:00:00.000' AS DateTime), N'16:00', 2, 1, 100000, 0, 100000)
INSERT [dbo].[Appoinments] ([ID], [Code], [Patient], [Doctor], [Date], [Time], [Status], [IsPayment], [Price], [Reduce], [Amount]) VALUES (3, N'170620pwgndbu', 18, 3, CAST(N'2020-06-19 00:00:00.000' AS DateTime), N'16:00', 0, 1, 100000, 10000, 90000)
SET IDENTITY_INSERT [dbo].[Appoinments] OFF
INSERT [dbo].[AssignPositions] ([StaffID], [PositionID], [DepartmentID], [Desc], [CreateDate], [CreateBy], [ModifyDate], [ModifyBy], [Status]) VALUES (2, 2, 1, NULL, CAST(N'2020-06-14 17:30:11.857' AS DateTime), N'admin', CAST(N'2020-06-14 17:30:11.857' AS DateTime), N'admin', 1)
SET IDENTITY_INSERT [dbo].[Departments] ON 

INSERT [dbo].[Departments] ([ID], [Title], [Desc], [Phone], [Mail], [IsMedicalExam], [CreateDate], [CreateBy], [ModifyDate], [ModifyBy], [Status]) VALUES (1, N'Phòng R&D', N'demo@gmail.com', N'0123456789', N'demo@gmail.com', 0, CAST(N'2020-06-14 17:28:04.337' AS DateTime), N'admin', CAST(N'2020-06-14 17:28:04.337' AS DateTime), N'admin', 1)
INSERT [dbo].[Departments] ([ID], [Title], [Desc], [Phone], [Mail], [IsMedicalExam], [CreateDate], [CreateBy], [ModifyDate], [ModifyBy], [Status]) VALUES (2, N'Phòng nhân sự', N'Phòng nhân sự', N'0334888777', N'demo@gmail.com', 0, CAST(N'2020-06-14 17:28:18.090' AS DateTime), N'admin', CAST(N'2020-06-14 17:28:18.090' AS DateTime), N'admin', 1)
INSERT [dbo].[Departments] ([ID], [Title], [Desc], [Phone], [Mail], [IsMedicalExam], [CreateDate], [CreateBy], [ModifyDate], [ModifyBy], [Status]) VALUES (3, N'Phòng điều hành', N'Phòng điều hành', N'0123456789', N'demo@gmail.com', 0, CAST(N'2020-06-14 17:28:50.427' AS DateTime), N'admin', CAST(N'2020-06-14 17:28:50.427' AS DateTime), N'admin', 1)
SET IDENTITY_INSERT [dbo].[Departments] OFF
SET IDENTITY_INSERT [dbo].[Doctors] ON 

INSERT [dbo].[Doctors] ([ID], [Name], [Avatar], [BirthDay], [Address], [Phone], [Email], [Department], [DateCreate], [Price]) VALUES (3, N'Trần Thái Tuấn', N'http://localhost:44351/Content/FileUploads/images/doctor-thumb-05.jpg', N'07/02/1979', N'179 Nguyễn Văn Linh, P.5, Q.7, TP.Hồ Chí Minh', N'1231231231', N'123@123.com', 4, CAST(N'2020-06-14 22:57:39.050' AS DateTime), 100000)
INSERT [dbo].[Doctors] ([ID], [Name], [Avatar], [BirthDay], [Address], [Phone], [Email], [Department], [DateCreate], [Price]) VALUES (4, N'Kim Xa Lý', N'http://localhost:44351/Content/FileUploads/images/doctor-thumb-01.jpg', N'20/10/1987', N'485 Nguyễn Xí, P.4, Bình Thạnh, Hồ Chí Minh', N'0123456789', N'demo@gmail.com', 5, CAST(N'2020-06-14 23:01:22.847' AS DateTime), 85000)
INSERT [dbo].[Doctors] ([ID], [Name], [Avatar], [BirthDay], [Address], [Phone], [Email], [Department], [DateCreate], [Price]) VALUES (5, N'Thái Đình Tâm', N'http://localhost:44351/Content/FileUploads/images/doctor-thumb-08.jpg', N'21/11/1985', N'Bình thuận 2, Thuận giao, Thuận an, Bình dương', N'0123456789', N'dinhtam0@gmail.com', 6, CAST(N'2020-06-14 23:02:17.197' AS DateTime), 90000)
SET IDENTITY_INSERT [dbo].[Doctors] OFF
INSERT [dbo].[DoctorSchedules] ([ID], [Day], [Shift]) VALUES (3, 1, N'1|')
INSERT [dbo].[DoctorSchedules] ([ID], [Day], [Shift]) VALUES (3, 2, N'1|2|')
INSERT [dbo].[DoctorSchedules] ([ID], [Day], [Shift]) VALUES (3, 3, N'2|')
SET IDENTITY_INSERT [dbo].[News] ON 

SET IDENTITY_INSERT [dbo].[News] OFF
SET IDENTITY_INSERT [dbo].[Patients] ON 

INSERT [dbo].[Patients] ([ID], [Name], [BirthDay], [Address], [Phone], [Email], [Account], [Password], [DateCreate]) VALUES (18, N'Lê Tùng', N'02/02/1992', N'456 DT742, Phú Chánh, Thủ Dầu Một, Bình Dương', N'0789789789', N'tungle789@gmail.com', N'tungle789', N'123456', CAST(N'2020-06-16 15:14:10.423' AS DateTime))
SET IDENTITY_INSERT [dbo].[Patients] OFF
SET IDENTITY_INSERT [dbo].[Positions] ON 

INSERT [dbo].[Positions] ([ID], [Title], [Desc], [CreateDate], [CreateBy], [ModifyDate], [ModifyBy], [Status]) VALUES (1, N'CEO', N'Giám đốc điều hành', CAST(N'2020-06-14 17:25:31.620' AS DateTime), N'admin', CAST(N'2020-06-14 17:25:31.620' AS DateTime), N'admin', 1)
INSERT [dbo].[Positions] ([ID], [Title], [Desc], [CreateDate], [CreateBy], [ModifyDate], [ModifyBy], [Status]) VALUES (2, N'Trường phòng', N'Trường phòng', CAST(N'2020-06-14 17:25:40.007' AS DateTime), N'admin', CAST(N'2020-06-14 17:25:40.007' AS DateTime), N'admin', 1)
INSERT [dbo].[Positions] ([ID], [Title], [Desc], [CreateDate], [CreateBy], [ModifyDate], [ModifyBy], [Status]) VALUES (3, N'Phó phòng', N'Phó phòng', CAST(N'2020-06-14 17:25:46.590' AS DateTime), N'admin', CAST(N'2020-06-14 17:25:46.590' AS DateTime), N'admin', 1)
SET IDENTITY_INSERT [dbo].[Positions] OFF
SET IDENTITY_INSERT [dbo].[Promotions] ON 

INSERT [dbo].[Promotions] ([ID], [Code], [Title], [Avatar], [Desc], [Content], [StartDate], [EndDate], [DoctorApply], [AmountReduced], [PercentReduced], [Type], [Status]) VALUES (1, N'140620-aeht', N'Giảm ngay 5% khi đặt lịch khám trong tháng 7', N'http://localhost:44351/Content/FileUploads/images/1.jpg', N'Giảm ngay 5% khi đặt lịch khám trong tháng 7', N'<p>đang cập nhật</p>
', CAST(N'2020-07-01 00:00:00.000' AS DateTime), CAST(N'2020-07-31 00:00:00.000' AS DateTime), NULL, 0, 5, 2, 1)
INSERT [dbo].[Promotions] ([ID], [Code], [Title], [Avatar], [Desc], [Content], [StartDate], [EndDate], [DoctorApply], [AmountReduced], [PercentReduced], [Type], [Status]) VALUES (3, N'160620-1sgh', N'Giảm ngay 10% cho khách đặt lịch hẹn trước 15-07', N'http://localhost:44351/Content/FileUploads/images/2018020507.jpg', N'Giảm ngay 10% cho khách đặt lịch hẹn trước 15-07', N'<p>Giảm ngay 10% cho kh&aacute;ch đặt lịch hẹn trước 15-07</p>
', CAST(N'2020-06-16 00:00:00.000' AS DateTime), CAST(N'2020-07-15 00:00:00.000' AS DateTime), NULL, 0, 10, 2, 1)
SET IDENTITY_INSERT [dbo].[Promotions] OFF
SET IDENTITY_INSERT [dbo].[ShiftTimes] ON 

INSERT [dbo].[ShiftTimes] ([ID], [StartTime], [EndTime], [Name]) VALUES (1, N'7:00', N'11:00', N'Ca Sáng')
INSERT [dbo].[ShiftTimes] ([ID], [StartTime], [EndTime], [Name]) VALUES (2, N'13:00', N'16:00', N'Ca Chiều')
SET IDENTITY_INSERT [dbo].[ShiftTimes] OFF
SET IDENTITY_INSERT [dbo].[Staffs] ON 

INSERT [dbo].[Staffs] ([ID], [Name], [Address], [BirthDay], [Phone], [Gender], [Mail], [Account], [Password], [CreateDate], [CreateBy], [ModifyDate], [ModifyBy], [Status]) VALUES (1, N'Quản trị viên', N'Main', NULL, N'Main', 1, N'Main', N'admin', N'admin', NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[Staffs] ([ID], [Name], [Address], [BirthDay], [Phone], [Gender], [Mail], [Account], [Password], [CreateDate], [CreateBy], [ModifyDate], [ModifyBy], [Status]) VALUES (2, N'Nguyễn Lê Thái Ngân', N'245 Lê Đức Thọ, Gò Vấp, HCM, Việt Nam', CAST(N'1994-04-04 00:00:00.000' AS DateTime), N'0123456789', 0, N'demo@gmail.com', N'thaingan9x', N'123456', CAST(N'2020-06-14 16:50:15.657' AS DateTime), N'admin', CAST(N'2020-06-14 17:04:33.560' AS DateTime), N'admin', 1)
SET IDENTITY_INSERT [dbo].[Staffs] OFF
USE [master]
GO
