@model IEnumerable<HospitalAppoimentSolution.Data.ViewModels.DoctorScheduleView>
@{
    ViewBag.Title = "DetailSchedule";
    Layout = null;
}

<div class="card">
    <div class="card-body pt-0">

        <!-- Tab Menu -->
        <nav class="user-tabs mb-4">
            <ul class="nav nav-tabs nav-tabs-bottom nav-justified">
                <li class="nav-item">
                    <a class="nav-link active" href="#doc_overview" data-toggle="tab">Lịch làm việc</a>
                </li>
            </ul>
        </nav>
        <!-- /Tab Menu -->
        <!-- Tab Content -->
        <div class="tab-content pt-0">

            <!-- Overview Content -->
            <div role="tabpanel" id="doc_overview" class="tab-pane fade active show">
                <div class="row">
                    <div class="col-md-12 col-lg-12">

                        <table class="table">
                            <thead>
                                <tr>
                                    @if (Model != null && Model.Count() > 0)
                                    {
                                        foreach (var item in Model)
                                        {
                                            <th>
                                                @item.DayName<br />

                                            </th>
                                        }
                                    }
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    @if (Model != null && Model.Count() > 0)
                                    {
                                        foreach (var item in Model)
                                        {
                                            <td>
                                                @if (item.ShiftTimes != null)
                                                {
                                                    foreach (var t in item.ShiftTimes)
                                                    {
                                                        <p style="font-weight:300">@t.Name <br /><span>@t.StartTime - @t.EndTime</span></p>
                                                        <br />
                                                    }
                                                }
                                            </td>
                                        }
                                    }
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
           
        </div>
    </div>
</div>
